.layout {
  .ant-layout-header {
    height: 50px;
    border-bottom: 1px solid #dedede;
    padding: 0 15px;
  }
  .menu-logo{
    height: 50px;
    background: #293d71;
    img{
        height: 38px;
    }
  }
}
