/*font-size*/
.fbold {
    font-weight: bold;
  }
  .fsize10 {
    font-size: 10px;
  }
  .fsize11 {
    font-size: 11px;
  }
  .fsize12 {
    font-size: 12px;
  }
  .fsize13 {
    font-size: 13px;
  }
  .fsize14 {
    font-size: 14px;
  }
  .fsize15 {
    font-size: 15px;
  }
  .fsize16 {
    font-size: 16px;
  }
  .fsize17 {
    font-size: 17px;
  }
  .fsize18 {
    font-size: 18px;
  }
  .fsize20 {
    font-size: 20px;
  }
  .fsize22 {
    font-size: 22px;
  }
  .fsize24 {
    font-size: 24px;
  }
  